/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}


/*
3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
body {
  font-family: 'Inter', sans-serif;
  background: #23252C;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
 max-width: 300px;
background-color: #1A1B21;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
.photo-section img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.name-section {
  text-align: center;
}
.buttons {
  text-align: center;
}
.button {
  background-color: #fff;
  color: gray/700;
}

.button.blue{
  background-color: #5093E2;
  color: #fff;
}